#about{
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    min-height: 78vh;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
  
.about-details-container {
    justify-content: center;
    flex-direction: column;
}
  
.about-containers {
    display: flex;
}
    
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.default-cursor:hover {
    cursor: default;
}
  
.section-container {
    gap: 4rem;
    height: 80%;
}

@media screen and (max-width:1200px){
    #about{
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    #about {
        width: 85%;
    }
    #about .title{
        width: 100%;
    }
    .about-containers {
        gap: 1.2rem;
    }
    .details-container {
        padding: 0.7rem;
    }
}

