footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 5vh;
    width: 100%;
}
  
footer p {
    text-align: center;
    font-size: 10px;
}